
@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-Regular.ttf);
}


* {
    box-sizing: border-box;  
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;  
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px; 
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 6.5vh;
    padding: 50px;
    color: #73849c;
}


.video {
    width: 50%;
    max-width: 900px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px; 
    overflow: hidden;
    border: solid;
    border-color: #9a9ba8;
}


.caption {
    background-color: #73849c;
    color: black;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 25px; 
    max-width: 700px;
}


h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0;
}


.alternating-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    margin-bottom: 40px; 
    padding: 0 200px; 
}


.column {
    width: 48%;  
    margin-bottom: 20px;  
    display: flex;
    flex-direction: column; 
}


.column img {
    width: 100%;
    height: auto;
    border-radius: 25px;  
    padding: 15px; 
    border: solid 2px #9a9ba8;
}


.caption {
    background-color: #9a9ba8;
    color: black;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}


.alternating-columns .column:nth-child(odd) {
    order: 1; 
}

.alternating-columns .column:nth-child(even) {
    order: 2;
}


@media (max-width: 768px) {
    .column {
        width: 100%; 
    }
}
